.textfield {
  display: flex;
  flex-direction: column;
  margin: 24px;
  font-weight: 500;
  font-size: 14px;
}

input {
  flex: 1;
  min-height: 36px;
  padding: 9px 12px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

input::placeholder {
  color: #999999;
  font-size: 14px;
}

.textfield-input:hover {
  border-color: var(--button-color);
}

input:hover {
  cursor: text;
}

input:focus {
  outline: none;
}

.textfield-input:focus-within {
  border-color: var(--button-color);
}

.textfield-input.invalid {
  border-color: var(--error-color);
}

/* .textfield-input.valid {
	border-color: var(--button-color);
} */

.text-container {
  width: 265px;
  position: relative;
}

.textfield-input {
  align-items: center;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: 4px;
}

.textfield-input.disabled {
  border-color: #e0e0e0 !important;
  cursor: unset !important;
  pointer-events: none;
}

.textfield-input.disabled,
.textfield-input input:disabled {
  background-color: #ebebeb !important;
  color: #b5b5b5;
  cursor: unset !important;
  pointer-events: none;
}

.icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-right: 7px;
}

.icon-delete-textfield {
  margin-right: 8px;
  display: none;
}

.icon-valid-temp {
  display: none;
}

.icon-valid-temp::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -338px -26px;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  right: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  z-index: 1;
}

.icon-valid {
  color: var(--valid-color);
  opacity: 0;
}

.row>*:nth-child(2) {
  margin: auto 0;
  color: var(--text-color);
}

.btn-show {
  position: absolute;
  bottom: 205px;
  right: 55px;
}

.btn-outline {
  z-index: 2;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}