.icon-20 {
  position: relative;
  display: inline-block;
}

.icon-delete-new {
  width: 24px;
  height: 24px;
  margin: 0;
}

.icon-help::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -50px -50px;
}

.icon-delete::before {
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -242px -26px;
}

.icon-dashboard::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_dashboard_default.110fa5f3.svg);
}

.icon-movement::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_movement_default.102c9e3d.svg);
}

.icon-reward::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_reward_default.156d6945.svg);
}

.icon-decision::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_decision_menu_default.cae653f2.svg);
}

.icon-profile::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_profile_default.d730fb8f.svg);
}

.icon-search-solid::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_search_default.903d371b.svg);
}

.icon-report::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_report_default.67157268.svg);
}

.icon-emulation::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_category_default.d46f95b8.svg);
}

.icon-setting::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_setting_default.be222d4a.svg);
}

.icon-guide::after {
  background-image: url(https://cegovapp.misacdn.net/cegov/img/ic_guide_default.186420dc.svg);
}

.icon-dropdown::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -148px -53px;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-filter::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -96px -48px;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-plus::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -193px -96px;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-prev::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -240px
    0;
  height: 24px;
  width: 24px;
  top: 8px;
  left: 6px;
}

.icon-next::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -240px
    0;
  height: 24px;
  width: 24px;
  top: 8px;
  left: 6px;
}

.icon-edit::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat
    0 -72px;
  height: 24px;
  width: 24px;
  top: 0;
  left: 0;
}

.icon-edit,
.icon-more {
  position: relative;
  width: 24px;
  height: 24px;
}

.icon-more::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -168px -48px;
  height: 24px;
  width: 24px;
  top: 0;
  left: 0;
}

.icon-checked {
  width: 16px;
  height: 16px;
}

.icon-checked::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -196px -28px;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-search::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -292px -28px;
  width: 16px;
  height: 16px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-delete::after {
  content: "";
  display: block;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -242px -26px;
  width: 20px;
  height: 20px;
}

.icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-sort-asc::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -143px -117px;
  height: 24px;
  width: 16px;
  top: 0;
  left: 0;
}

.icon-sort-dsc::after {
  content: "";
  position: absolute;
  background: transparent url(../../assets/imgs/sprites.06b14dc5.svg) no-repeat -160px -117px;
  height: 24px;
  width: 16px;
  top: 0;
  left: 0;
}

.icon-sort {
  width: 24px !important;
  height: 24px !important;
  margin: auto;
  margin-right: 0;
  margin-left: 5px;
}

.button-unset {
  min-width: 80px !important;
}

.icon-show {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/icons/ic_show.svg);
  background-repeat: no-repeat;
}

.icon-hide {
  width: 24px;
  height: 24px;
  background-image: url(../../assets/images/icons/ic_hide.svg);
  background-repeat: no-repeat;
}

.icon_warning {
  width: 16px;
  height: 16px;
  background-image: url(../../assets/images/icons/icon_waning.svg);
  background-repeat: no-repeat;
}

.icon-addtocart {
  width: 16px;
  height: 16px;
  background-image: url(../../assets//imgs/ic_addtocart.svg);
  background-repeat: no-repeat;
}

.icon-loading {
  width: 50px;
  height: 32px;
  background-image: url(../../assets/images/icons/loading.svg);
  background-repeat: no-repeat;
}
